* {
  font-family: 'Balsamiq Sans', cursive;
  margin: 0px auto;
  padding: 5px;
}

h1 {
  background-color: black;
  color: white;
  margin-bottom: 8px;
}

h1 span {
  color: cyan;
}

h2 {
  background-color: rgb(102,51,153);
  color: white;
  text-align: center;
  font-style: italic;
  margin-bottom: 8px;
}

h3 {
  background-color: rgb(159,197,248);
  text-align: right;
  text-decoration: underline;
  margin-bottom: 8px;
}