@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Balsamiq Sans", cursive;
  background-color: whitesmoke;
}

/* Nav Bar */
.nav-bar {
  background-color: black;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

ul {
  display: flex;
  gap: 30px;
  color: #afafaf;
  list-style: none;
  align-items: center;
}

.profile {
  color: white;
  font-size: 30px;
}

.my-profile {
  color: white;
}

button {
  background-color: #17a2b8;
  color: #ddedf1;
  width: 80px;
  font-size: 18px;
  font-family: "Balsamiq Sans", cursive;
}

/* Main */
.main {
  width: 900px;
  height: 750px;
  margin: 0 auto;
  margin-top: 35px;
  display: flex;
}

/* left column */
.left-col {
  height: 750px;
  width: 550px;
}

/* User Card */
.user-card {
  width: 550px;
  height: 350px;
  border: solid 3px #cfcfcf;
}

.user-head {
  background-color: #17a2b8;
  height: 100px;
}

.user-m {
  width: 90px;
  border-radius: 50%;
  position: relative;
  left: 25px;
  top: 50px;
  border: solid 2px #cfcfcf;
}

.user-body {
  margin-left: 30px;
  margin-top: 60px;
}

.user-body h1 {
  margin-bottom: 10px;
}

.user-body p {
  margin-bottom: 15px;
  margin-top: 15px;
}

.icon-s {
  width: 15px;
}

a {
  color: #145595;
}

/* Education Section */
.education {
  width: 550px;
  margin-top: 35px;
  border: solid 3px #cfcfcf;
}

.edu-head {
  background-color: #333333;
  height: 45px;
  color: #cccccc;
  display: flex;
  align-items: center;
}

.edu-head h3 {
  margin-left: 25px;
}

.edu-body {
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.edu-body h3,
p,
h4 {
  margin-bottom: 7px;
}

.edu-body p {
  color: #9d9d9d;
}

/* right column */
.right-col {
  width: 365px;
  height: 650px;
  margin-left: 35px;
}

/* Connection Requests */
.requests {
  width: 240px;
  margin-bottom: 35px;
  border: solid 3px #cfcfcf;
}

.req-header {
  background-color: #333333;
  height: 60px;
  color: #cccccc;
  display: flex;
  align-items: center;
}

.number-2 {
  background-color: #cccccc;
  color: #333333;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 5px;
}

.req-body {
  margin-left: 10px;
  margin-top: 15px;
}

.todd {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.todd p {
  margin-left: 10px;
  margin-top: 10px;
}

.confirm {
  display: flex;
  margin-left: 50px;
}

.phil {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.phil p {
  margin-left: 10px;
  padding-right: 15px;
  margin-top: 10px;
}

.confirm-icon {
  width: 30px;
}

.decline-icon {
  width: 30px;
  margin-left: 5px;
}

.people {
  height: 40px;
  border-radius: 50%;
  align-items: center;
}

/* Your Connections */
.friends-list {
  width: 240px;
  border: solid 3px #cfcfcf;
}

.conn-header {
  background-color: #333333;
  height: 60px;
  color: #cccccc;
  display: flex;
  align-items: center;
}

.number-500 {
  background-color: #cccccc;
  color: #333333;
  border-radius: 50%;
  width: 60px;
  height: 30px;
  margin-left: 10px;
  margin-right: 5px;
}

.conn-body {
  margin-left: 10px;
  margin-top: 10px;
}

.conn-body p {
  margin-top: 10px;
  margin-left: 10px;
}

.pictures {
  display: flex;
  margin-bottom: 10px;
}

.link {
  border-left: solid 3px #cfcfcf;
  border-bottom: solid 3px #cfcfcf;
  border-right: solid 3px #cfcfcf;
  width: 240px;
  height: 35px;
  display: flex;
  align-items: center;
}

.link a {
  margin-left: 10px;
}
