@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
* {
  padding: 0 auto;
  margin: 0 auto;
  font-weight: 400;
}

body {
  font-family: 'Balsamiq Sans', cursive;
}

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  padding: 0 75px;
}

.nav-title {
  color: white;
  justify-content: space-between;
  /* padding-left: 45px; */
}

.nav-links {
  flex: 4;
  padding-right: 15px;
}

li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: rgb(185, 185, 185);
}

.myprof {
  font-weight: bolder;
  color: white;
}

.btn {
  flex: 2;
}

.btn button {
  margin-left: auto;
  background-color: cadetblue;
  color: white;
  padding: 5px 10px;
}

.page {
  padding: 30px 40px 0px 40px;
  width: 900px;
  display: flex;
}

.col {
  flex: 2;
  margin: 10px;
}

.prof-user,
.conreq {
  margin-bottom: 20px;
}

.gear-link {
  text-decoration: underline;
  color: rgb(40, 148, 170);
}

.head {
  height: 90px;
  background-color: cadetblue;
  border: 4px solid cadetblue;
}

.profile {
  height: 90px;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 0 0 3px lightgray;
  position: relative;
  left: 50px;
  top: 30px;
}

.body {
  border: 3px solid lightgray;
  border-top: 0px;
  padding-bottom: 10px;
}

.bio {
  padding: 40px;
}

.location,
.detail {
  margin-top: 15px;
}

.map {
  height: 25px;
  float: left;
  margin-right: 10px;
}

.extra {
  margin-top: 25px;
}

.gear {
  height: 20px;
  float: left;
  margin-right: 10px;
}

.eduhead,
.reqhead,
.connhead {
  padding: 0px 0px 0px 20px;
  height: 40px;
  border: 3px solid rgb(38, 38, 38);
  background-color: rgb(38, 38, 38);
  color: lightgray;
}

.edubody,
.reqbody,
.connbody,
.connfoot {
  padding: 15px;
  border: 3px solid lightgray;
  border-top: 0px;
}

.reqbody,
.connbody {
  display: flex;
  flex-direction: column;
}

.person {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.edubody > * {
  margin-bottom: 5px;
}

.r-side {
  flex: 1;
  margin: 10px;
  height: 100%;
}

h3 {
  line-height: 40px;
}

h3 > span {
  background-color: rgb(156, 156, 156);
  color: black;
  padding: 2px 4px;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
}

.picture {
  padding-right: 10px;
}

.picture img {
  height: 50px;
  border-radius: 50%;
}

.pics {
  flex: 2;
  align-self: center;
}

.decide {
  align-self: center;
}

.decide img {
  height: 30px;
  margin-left: 10px;
}

.edubody > h3 {
  color: gray;
}

.connfoot > a {
  text-decoration: underline;
  color: blue;
}
