* {
  margin: 0px;
  padding: 0px;
}

.row {
  display: flex;
}

.col {
  background-color: cadetblue;
  padding: 20px;
  margin: 10px;
  flex: 1;
  color: white;
}

.col-2 {
  background-color: cadetblue;
  padding: 20px;
  margin: 10px;
  flex: 2;
  color: white;
}

.col-3 {
  background-color: cadetblue;
  padding: 20px;
  margin: 10px;
  flex: 3;
  color: white;
}
