@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 400;
}

/* -------- Nav Bar Section -------- */
.nav {
  background-color: #9FC4F8;
  height: 85px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav h1 {
  margin-right: 200px;
}

li {
  list-style: none;
}

ul {
  display: flex;
  gap: 45px;
  font-size: 20px;
}


/* ---- Sub Header ---- */
.sub-header {
  /* background-color: aqua; */
  height: 85px;
  width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid black 3px;
}

.sub-header h2 {
  font-size: 25px;
}

select {
  border: solid black 2px;
}

/* -------- Main Content -------- */
.main {
  /* background-color: blueviolet; */
  width: 900px;
  /* height: 400px; */
  margin: 0 auto;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.forecast {
  background-color: #EEEEEE;
  width: 240px;
  height: 340px;
  text-align: center;
}

.temperatures {
  display: flex;
  justify-content: space-around;
}

.high {
  color: #D24543;
  font-size: 20px;
  font-weight: 700;
}

.low {
  color: #2B78E4;
  font-size: 20px;
  font-weight: 700;
}

.forecast img {
  height: 150px;
  border-radius: 50%;
}

.forecast h1, img, p {
  margin-bottom: 20px;
  margin-top: 10px;
}

/* -------- Cookies Section -------- */
.cookie {
  background-color: #EEEEEE;
  width: 900px;
  /* height: 140px; */
  border: solid black 3px;
  margin: 0 auto;
  position: fixed;
  left: 110px;
}

.cookie-policy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

.btn {
  background-color: #9FC5F8;
  box-shadow: 3px 3px black;
  border: solid black 2px;
  width: 75px;
  height: 25px;
}

.text {
  /* padding: 20px; */
  margin-right: 200px;
  margin-top: 10px;
  font-size: 17px;
}




