*{
    margin: 0px;
    padding: 0px;
    text-size-adjust: 150px;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: black;
    display: flex;
    width: 1200px;
    height: 60px;
    margin-bottom: 20px;
}
h2 {
    color: rgb(255, 255, 255);
    background-color: purple;
    text-align: center;
    font-style: italic;
    width: 1200px;
    height: 60px;
    margin-bottom: 20px;
    
}
h3 {
    color: rgb(0, 0, 0);
    background-color: cadetblue;
    text-align: right;
    text-decoration: underline;
    width: 1200px;
    height: 60px;
}

.highlight {
    color: aqua;
}