* {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: grey;
  text-align: center;
  font-size: 50px;
}

#container {
  margin: 25px;
}

img {
  width: 200px;
}

.row {
  display: flex;
  padding: 30px;
  margin-bottom: 30px;
}

#row-1 {
  background-color: #5cc5e4;
  justify-content: space-between;
  align-items: center;
}

#row-2 {
  background-color: #d8a8b0;
  justify-content: space-evenly;
  align-items: center;
}

#row-3 {
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

#footer {
  display: flex;
  justify-content: center;
}
