@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    margin: 0 auto;
    padding 0 auto;
    font-family: 'Balsamiq Sans', cursive;
}

.nav-bar {
    /* display: inline-block; */
    width: 1000px;
    background-color: lightgray;
    padding: 15px;
    /* gap: 200px; */
}

.nav-search {
    min-width: 300px;
    border: solid black 2px;
    border-radius: 4px;
}

.blue-b {
    background-color: rgb(19, 95, 224);
    color: white;
    border: solid black 2px;
}

.main {
    background-color: aqua;
    display: inline-block;
}

.col-1 {
    display: flex;
    /* align-items: center; */
    display: inline-block;
}

.word {
    border: solid black 2px;
    height: 150px;
    width: 500px;
}

.col-2 {
    display: flex;
    display: inline-block;
}

.add {
    border: solid black 2px;
    width: 150px;
    padding: 10px;
    font-size: 20px;
}


.add span {
    font-weight: bolder;
}

.green-b {
    background-color: rgb(88, 150, 88);
    display: flex;
}